*.q
*.root
*.log
*.vdp
*.txt
*.pdf
*.png
a_e_true_reco.bin
dataset
__pycache__
*.json
bin_purity.py
dqdx_plot.py
eff_selected.py
filter_tree.py
ineff.py
reclassification.py
numi.C
plots*
root_files/
data_files
run_det_script.sh
.ipynb_checkpoints/
