*.root
*.log
*.vdp
*.txt
*.pdf
*.png
a_e_true_reco.bin
dataset
*.ipynb*
__pycache__
a.py
*.json
eff_comparison.py
data_bnb_1e0p/
data_ext_1e0p/
mc_bnb_1e0p/
mc_bnb_1e0p_tune2/
mc_nue_1e0p/
mc_nue_1e0p_tune2/