*.root
*.log
*.vdp
*.txt
*.pdf
*.png
a_e_true_reco.bin
dataset
__pycache__
*.json
eff_comparison.py
track_study.py
bin_purity.py
dqdx_plot.py
eff_selected.py
filter_tree.py
ineff.py
reclassification.py
cutflow.py
